@using Microsoft.AspNetCore.Identity
@using MudBlazor
@using BlazorAppServer.Areas.Identity.Data

@inject SignInManager<BlazorAppServerUser> SignInManager
@inject UserManager<BlazorAppServerUser> UserManager

<div class="navbar-custom">
    <div id="avatar" class="avatar">
        <img src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/unknown_1-2-512.png" width="50" height="50" alt="test" />
    </div>
    <div id="menu" class="menu">
        @if (SignInManager.IsSignedIn(User))
        {
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Профиль</a>
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link">Выход</button>
            </form>
        }
        else
        {
            <a id="register" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
            <a id="login" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#avatar").click(function () {
            $("#menu").toggleClass("show"); 
        });
    });
</script>
<style>
    .navbar-custom {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 1000;
    }

    .avatar {
        width: 50px;
        height: 50px;
        background-color: #ddd;
        border-radius: 50%;
        cursor: pointer;
        overflow: hidden;
    }

    .menu {
        display: block;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        position: absolute;
        right: 0;
        bottom: 60px;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: max-height 0.3s ease-out, visibility 0.3s ease-out, opacity 0.3s ease-out;
    }

    .navbar-custom:hover .menu,
    .navbar-custom .menu.show {
        max-height: 200px; 
        visibility: visible;
        opacity: 1;
    }

</style>
